body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

.hero {
  padding: 214px 0 136px;
  width: 100%;
  height: 100%;
  background-image: url("../images/hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 480px), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../images/hero-tablet.jpg");
    padding: 140px 0 232px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px), (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-tablet@2x.jpg");
  }
}
@media (min-width: 1024px) {
  .hero {
    background-image: url("../images/hero-desktop.jpg");
    padding-top: 100px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px), (min-width: 1024px) and (min-device-pixel-ratio: 2), (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1024px) and (min-resolution: 192dpi), (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-desktop@2x.jpg");
  }
}
.hero__title {
  max-width: 500px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 52px;
  }
}
.hero__text {
  color: rgb(255, 255, 255);
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 0.857;
  margin: 13px 0 17px;
}
@media (min-width: 768px) {
  .hero__text {
    margin: 36px 0 33px;
    font-size: 24px;
  }
}
.hero__btn {
  padding: 12px 38px;
  background-color: rgb(255, 78, 80);
  border-radius: 19px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .hero__btn {
    padding: 13px 11px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 112px;
  padding-top: 19px;
}
@media (min-width: 768px) {
  .header .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.register {
  display: flex;
  gap: 4px;
}
.register__btn {
  border-radius: 50px;
  padding: 10px 14px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}
.register__btn--sign-up {
  border: 2px solid rgb(255, 255, 255);
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.partners {
  padding: 64px 0 57px;
  text-align: center;
}
@media (min-width: 768px) {
  .partners {
    padding: 68px 0 39px;
  }
}
@media (min-width: 1024px) {
  .partners {
    padding: 66px 0 72px;
  }
}
.partners__title {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .partners__title {
    margin-bottom: 34px;
  }
}
.partners-other {
  border: 2px solid rgb(255, 78, 80);
  background-color: rgb(255, 255, 255);
  padding: 11px 59px;
  border-radius: 50px;
  color: rgb(255, 78, 80);
  margin: 29px auto 0;
}
@media (min-width: 768px) {
  .partners-other {
    margin-top: 59px;
    padding: 12px 16px;
  }
}
@media (min-width: 1024px) {
  .partners-other {
    margin-top: 57px;
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media (min-width: 768px) {
  .partners-list {
    gap: 63px;
  }
}
@media (min-width: 1024px) {
  .partners-list {
    gap: 32px;
  }
}
.partners-list__item {
  flex: 1 1 100%;
}
@media (min-width: 768px) {
  .partners-list__item {
    flex-basis: calc((100% - 63px) / 2);
  }
  .partners-list__item:nth-child(1) {
    order: 1;
  }
  .partners-list__item:nth-child(2) {
    order: 3;
  }
  .partners-list__item:nth-child(3) {
    order: 2;
  }
  .partners-list__item:nth-child(4) {
    order: 4;
  }
}
@media screen and (min-width: 1024px) {
  .partners-list__item {
    flex-basis: calc((100% - 96px) / 4);
  }
}
.partners-list__thumb {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: -20;
  left: 10;
}
.partners-list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.partners-list__icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid #fff;
}
.partners-list__icon--tv {
  background-color: #ff4e50;
}
.partners-list__icon--coffe {
  background-color: #1cd7ad;
}
.partners-list__icon--alhm {
  background-color: #ffa507;
}
.partners-list__icon--tg {
  background-color: #4e73db;
}
.partners-list__svg {
  width: 19px;
  height: 19px;
  fill: #fff;
}
.partners-list__name {
  padding-top: 13px;
  padding-bottom: 16px;
}
.partners-list__about {
  color: rgb(102, 102, 102);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */