.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &__logo {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding-top: 19px;
    @media screen and (min-width: 768px) {
       flex-direction: row-reverse; 
       justify-content: space-between;
       padding: 37px 49px 0;
    }
  }
}
.header-list {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    &__link {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        color: rgb(255, 255, 255);
        padding: 11px 4px;
        &--signup {
            border: 2px solid #fff;
            border-radius: 50px;
        }
    }
}
